/*
	Wibones minimal framework

	©2020, Jacob Hume, fragdev.com
	Released under the AGPLv3
*/


/*= Base Styles ============*/

* {
	box-sizing: border-box;
}

a {
	color: #00f;
}

:root {
	background-color: #efefef;
	color: #000;
	font-family: serif;
	font-size: 1.5em;
}

footer {
	clear: both;
	color: #666;
	padding: 1em;
	text-align: center;
}

input,
textarea {
	background-color: #fefefe;
	color: #000;
}

section>h1 {
	margin-top: 0;
}

input[type=email],
input[type=text] {
	resize: horizontal;
	overflow: auto;
}

html {
	background-color: #fefefe;
}



/*= Modules ================*/

.a11y-link {
	background: #fff;
	position: fixed;
	top: -10em;
}

.content {
}

.content-title {
}

/* Inspired by fukol grid: https://github.com/Heydon/fukol-grids */
.grid {
	display: flex;
	flex-wrap: wrap;
	margin: -.5em;
}

.grid > * {
	background-color: #555;
	/* Means:
		1 - items can grow in size
		0 - items cannot shrink beyond the initial
		5em - initial size of items */
	flex: 1 0 5em;
	margin: .5em;
}

.site-title {
}


/*= State ==================*/

.a11y-link:active,
.a11y-link:focus {
	top: 1em;
}



/*= Responsive =================*/

@media screen and (max-width: 450px) {

	body {
		font-size: 1em;
	}
}
 

@media (prefers-color-scheme: dark) {
	:root {
		background-color: #111;
		color: #eee;
	}
}

